{% extends 'base.html.twig' %}

{% block title %}EU{% endblock %}

{% block body %}

<div class="container-fluid">

  <div id="title_bar" class="row">
    <div class="col-md-12"><h1>Title</h1></div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      Text
    </div>

    <div id="search" class="col-sm-4">
      <input id="search_bar" class="form-control form-control-lg" type="text" onkeyup="search_word(this.value)">
      <div id="search_results"></div>
    </div>

    <div id="page_num_viewer" class="col-sm-4">

      {% set part = "" %}
      {% set annex = "" %}
      {% set article = "" %}
      {% set page = "" %}

      {% set annex_undiv = false %}
      {% set part_undiv = false %}
      {% set article_undiv = false %}
      {% set page_undiv = false %}

          {% for line in pages %}

          {% if line.annex != annex %} <!-- Annex -->
            {% set annex = line.annex %}
            {% set page = "" %}
            {% if page_undiv == true %}</div>{% set page_undiv = false %}{% endif %}
            {% if article_undiv == true %}</div>{% set article_undiv = false %}{% endif %}
            {% if part_undiv == true %}</div>{% set part_undiv=false %}{% endif %}
            {% if annex_undiv == true %}</div>{% endif %}
            <div class="annex">
              <p>{{line.annex}}</p>
            {% set annex_undiv = true %}
          {% endif %} <!-- End Annex -->

          {% if line.part != part %} <!-- Part -->
            {% set part = line.part %}
            {% set page = "" %}
            {% if page_undiv == true %}</div>{% set page_undiv = false %}{% endif %}
            {% if article_undiv == true %}</div>{% set article_undiv = false %}{% endif %}
            {% if part_undiv == true %}</div>{% endif %}
            <div class="part">
              <p>{{line.part}}</p>
            {% set part_undiv = true %}
          {% endif %} <!-- End Part -->

          {% if line.article != article %} <!-- article -->
            {% set article = line.article %}
            {% set page = "" %}
            {% if page_undiv == true %}</div>{% set page_undiv = false %}{% endif %}
            {% if article_undiv == true %}</div>{% endif %}
            <div class="article">
              <p>{{line.article}} - {{pages[loop.index+1].article_title}}</p>
            {% set article_undiv = true %}
          {% endif %} <!-- End article -->

          {% if line.page_num != page and line.text != "\n" %} <!-- page -->
            {% set page = line.page_num %}
            {% if page_undiv == true %}</div>{% endif %}
            <div id="page_{{line.page_num}}" class="page"> {{line.page_num}}
            {% set page_undiv = true %}
          {% endif %} <!-- End page -->

          <div class="line"></div>

          {% endfor %}

    </div>


  </div>

</div>



{% endblock %}
