{% extends 'base.html.twig' %}

{% block title %}EU{% endblock %}

{% block body %}

<div class="container-fluid">

  <div id="title_bar" class="row">
    <div class="col-md-12"><h1>Title</h1></div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      Text
    </div>

    <div id="search" class="col-sm-4">
      <input id="search_bar" class="form-control form-control-lg" type="text" onkeyup="search_word(this.value)">
      <div id="search_results"></div>
    </div>

    <div id="page_viewer" class="col-sm-4">

      {% set article = "" %}
      {% set article_undiv = false %}

      {% set part = "" %}
      {% set part_undiv = false %}

      {% set annex = "" %}
      {% set annex_undiv = false %}

      {% set page = "" %}
      {% set page_undiv = false %}

      {% set part_rediv = false %}
      {% set article_rediv = false %}
      {% set annex_rediv = false %}

      {% for line in pages %}

      <!-- Page -->
        {% if line.page_num != page %}
          {% if part_undiv == true %}
          </div>
            {% set part_undiv = false %}
            {% set part_rediv = true %}
          {% endif %}
          {% if article_undiv == true %}
            </div>
            {% set article_undiv = false %}
            {% set article_rediv = true %}
          {% endif %}
          {% if annex_undiv == true %}
            </div>
            {% set annex_undiv = false %}
            {% set annex_rediv = true %}
          {% endif %}
          {% if page_undiv == true %}
            </div>
            {% set page_undiv = false %}
          {% endif %}
          <div class="page">

          {% if part_rediv == true %}<div class="part">{% set part_rediv = false %}{% set part_undiv = true %}{% endif %}
          {% if article_rediv == true %}<div class="article">{% set article_rediv = false %}{% set article_undiv = true %}{% endif %}
          {% if annex_rediv == true %}<div class="annex">{% set annex_rediv = false %}{% set annex_undiv = true %}{% endif %}

          {% set page_undiv = true %}
          {% set page = line.page_num %}

        {% endif %}

      <!-- Annex -->
        {% if line.annex != annex %}
          {% if annex_undiv == true %}
            </div>
            {% set annex_undiv = false %}
          {% endif %}
          {% if part_undiv == true %}
            </div>
            {% set part_undiv = false %}
          {% endif %}
          {% if article_undiv == true %}
            </div>
            {% set article_undiv = false %}
          {% endif %}

          <div class="annex">
          {% set annex_undiv = true %}
          {% set part_undiv = false %}
          {% set article_undiv = false %}
          {% set annex = line.annex %}
          <p>{{ annex }} - {{ pages[loop.index+1].annex_title }}</p>
        {% endif %}

      <!-- Part -->
        {% if line.part != part %}
          {% if part_undiv == true %}
            </div>
            {% set part_undiv = false %}
          {% endif %}
          {% if article_undiv == true %}
            </div>
            {% set article_undiv = false %}
          {% endif %}

          <div class="part">
          {% set part_undiv = true %}
          {% set article_undiv = false %}
          {% set part = line.part %}
          <p>{{ part }} - {{ pages[loop.index+1].part_title }}</p>
        {% endif %}

        <!-- Article --->
        {% if line.article != article and line.article != "" %}
          {% if article_undiv == true %}
            </div>
            {% set article_undiv = false %}
          {% endif %}

          <div class="article">
          {% set article_undiv = true %}
          {% set article = line.article %}
          <p>A: {{ article }} - {{ pages[loop.index+1].article_title }}</p>
        {% endif %}



        <div class="line"></div>




      {% endfor %}

  </div>

</div>



{% endblock %}
